<!DOCTYPE html>
<html>
<head lang="en">
   @include('partials.header_info')
   @include('partials.essential_css')

   {{ css(assetsUrl('css/separate/pages/login.min.css')) }}
   {{ css(assetsUrl('css/custom.css')) }}
</head>
<body>

    <div class="page-center">
        <div class="page-center-in">
            <div class="container-fluid">
                 @!section('content')
            </div>
        </div>
    </div><!--.page-center-->


    @include('partials.footer_scripts')

</body>
</html>
